body {
  background-image: url("./background.png");
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1.title,
p {
  color: white;
}

h1.title {
  margin-bottom: 40px;
}

.content {
  background: linear-gradient(
    0deg,
    rgba(36, 36, 36, 0.788),
    rgba(46, 46, 46, 0.753)
  );
  display: inline-block;
  border-radius: 5px;
  padding: 40px;
}
