/* Configuração padrão da página
		-------------------------------*/
body,
html {
  margin: 0;
  font: 16px "Lato", sans-serif;
  color: #777;
  height: 100%;
}

.conteudo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo-content span.title {
  text-transform: uppercase;
  color: #111;
  padding: 10px 40px 10px 40px;
  font-size: 24px;
}

.conteudo-content span.content {
  padding: 0px 40px 10px 40px;
}

.conteudo-titulo {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
}

.conteudo-titulo span.titulo {
  text-transform: uppercase;
  color: #fff;
  background-color: #111;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 5px;
}

/* Efeito Parallax
		-------------------------------*/
.caixa1,
.caixa2,
.caixa3,
.caixa4,
.caixa5,
.caixa6,
.caixa7,
.caixa8 {
  position: relative; /* deixa a posição relativa ao container */
  height: 100%;
  opacity: 0.7;
  background-repeat: no-repeat; /* impede a duplicação da imagem de fundo */
  background-size: cover; /* faz a imagem cobrir toda a caixa */
  background-position: center; /* ao redimensionar a tela, a imagem fica sempre centralizada */
  background-attachment: fixed; /* Fixa a imagem de fundo de cada caixa */
}

/* Adicionada uma imagem de fundo em cada caixa
		-----------------------------------------------*/
.caixa1 {
  background-image: url(imagens/imagem1.jpg);
}

.caixa2 {
  background-image: url(imagens/imagem2.jpg);
}

.caixa3 {
  background-image: url(imagens/imagem3.jpg);
}

.caixa4 {
  background-image: url(imagens/imagem4.jpg);
}
.caixa5 {
  background-image: url(imagens/imagem5.jpg);
}
.caixa6 {
  background-image: url(imagens/imagem6.jpg);
}
.caixa7 {
  background-image: url(imagens/imagem7.jpg);
}
.caixa8 {
  background-image: url(imagens/imagem8.jpg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 1;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

.logo {
  float: right;
  background-color: #f19f17;
}

.logo span {
  padding: 14px 16px;
  display: block;
  color: white;
  text-align: center;
}
