h1#detail-title {
  color: #18a2b8;
  text-shadow: 2px 1px #e0e0e0;
}

.container {
  display: flex;
  flex-direction: column;
}

img.course-image {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 4px 2px 9px 0px #848383;
}

.course-details {
  background-color: #f7f7f7;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ececec;
  margin-bottom: 50px;
}

.course-details p {
  padding: 30px;
}

.teachers-title {
  background: #2a3c80;
}

.teachers-title p {
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}

.teachers {
  margin: 50px;
}

.teachers p {
  padding: 0;
}

.form-group {
  background: #ececec;
  padding: 10px;
}

.size-options {
  display: flex;
}

.radio {
  margin-right: 20px;
}

.goback {
  max-width: 150px;
  margin-bottom: 30px;
}