#principal{
    padding-top: 50px;
    color: #ffffff;
    
}

h1{
    padding-bottom: 50px;
}

p{
    font-size: 20px;
}

h2{
    padding-left: 800px;
    font-size: 30px;
}

botoes{
    list-style-type: none;
}