#body{
    background-color: rgb(194, 182, 182);
    padding-TOP: 500px;
    padding-bottom: 500px;
}

#elements{
 background-color: #fff;
 padding-right: 500px;
}

#uploadDiv {
    border-style: dashed;
    padding-top: 500px;


}